channels==4.0.0
channels-redis==4.0.0
daphne==4.0.0
Django==4.1.2
psycopg2-binary==2.9.5
python-decouple==3.6
redis==4.3.4
django-tailwind==3.4.0
transformers==4.40.0
nltk==3.8.1
rank_bm25
numpy==1.26.4
PyMuPDF==1.24.2
torch==2.2.2